<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:v="urn:schemas-microsoft-com:vml"
    style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{_accountInfo.TradingName}}</title>
    <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
    <style>
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
    </style>
    <style>
        @media (max-width: 600px) {

            img {
                max-width: 100% !important;
                height: auto !important;
            }
        }
    </style>
    <style>
        @media screen and (min-width: 30em) {

            .w-50-ns {
                width: 50% !important;
            }

            .pr4-ns {
                padding-right: 2rem !important;
            }

            .ph4-ns {
                padding-left: 2rem !important;
                padding-right: 2rem !important;
            }

            .mv1-ns {
                margin-top: .25rem !important;
                margin-bottom: .25rem !important;
            }

            .mv4-ns {
                margin-top: 2rem !important;
                margin-bottom: 2rem !important;
            }
        }
    </style>
</head>

<body
    style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0"
        style="box-sizing: border-box; margin: 0; padding: 0; background: #f1f1f1; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; width: 100%; height: 100%; line-height: 100% !important;">
        <tr style="box-sizing: border-box !important;">
            <td align="left" valign="top"
                style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
                <table class="mv4-ns" width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                    style="box-sizing: border-box; max-width: 40rem; width: 100%; background-color: #fff; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                    bgcolor="#fff">

                    <tr style="box-sizing: border-box !important;">
                        <td class="ph4-ns"
                            style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; border-bottom-style: solid; border-bottom-width: 1px; border-color: #eee; width: 100%; padding-bottom: 2rem; text-align: center !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            align="center">
                            <div
                                style="box-sizing: border-box; width: 8rem; margin-bottom: 1rem; margin-top: 2rem; margin-right: auto; margin-left: auto !important;">
                                <a href="http://{{_accountInfo.HostName}}.com.br"
                                    style="box-sizing: border-box !important;">
                                    <img alt="" border="0" width="auto"
                                        src="http://licensemanager.vtex.com.br/api/site/pub/accounts/{{_accountInfo.Id}}/logos/show"
                                        style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; border: none; max-height: 80px !important;">
                                    </img></a>
                            </div>
                            <h1
                                style="margin: 0; font-size: 50px; line-height: 58px; box-sizing: border-box !important;">
                                Alterações em sua assinatura!</h1>
                        </td>
                    </tr>

                    <tr style=" box-sizing: border-box !important; ">
                        <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 100%; padding-bottom: 2rem; padding-top: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            class="ph4-ns">
                            <p style="box-sizing: border-box; margin-top: 2rem !important;">
                                Olá Mauricio, recebemos uma alteração em sua assinatura realizada em:
                                {{formatDate recurrence/createdAt}}.
                            </p>

                        </td>
                    </tr>

                    <tr style=" box-sizing: border-box !important; ">
                        <td class="ph4-ns"
                            style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-top-style: solid;     border-width: .5rem; border-color: #eee; width: 100%; padding-top: 2rem; padding-bottom: 2rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
                            <h3
                                style="margin: 0; font-size: 20px; line-height: 36px; text-transform: uppercase; letter-spacing: 1.2pt; font-weight: 300; box-sizing: border-box !important;">
                                ITENS ALTERADOS</h3>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                style="box-sizing: border-box; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
                                <thead>
                                </thead>
                                {{#each recurrence.items}}
                                <tbody>
                                    <tr style="box-sizing: border-box !important;">
                                        <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 4rem; padding-right: .5rem; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                                            align="left" valign="top"><img alt=""
                                                src="http://diageo.vteximg.com.br/arquivos/ids/157112-55-55/GRE30291-1.jpg?v=636983638049000000"
                                                style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100% !important;">
                                        </td>
                                        <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                                            align="left" valign="top">
                                            <div class="mv1-ns"
                                                style="box-sizing: border-box; line-height: 1.25; font-size: 1rem !important;">
                                                {{this/name}}</div>
                                            <div style="box-sizing: border-box; color: #777 !important;">
                                                {{this/quantity}} un.
                                                {{#if price}} R$ {{formatCurrency price}} {{else}} Grátis {{/if}}
                                            </div>
                                            <div style="box-sizing: border-box; color: #777 !important;">
                                                Você receberá este produto a cada {{this/attachments/0/content/Periodo}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                {{/each}}

                            </table>
                        </td>
                    </tr>

                    <tr style="box-sizing: border-box !important;">
                        <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-top-style: solid; border-top-width: 1px; border-color: #eee; padding-top: 1rem; padding-bottom: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;"
                            class="ph4-ns" align="left">
                            <p style="box-sizing: border-box !important;">
                                Atenciosamente,<br />Equipe {{_accountInfo.TradingName}}
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>